@import "bourbon"
@import "mixins"

.cars
    background-image: url(../img/bg-2.jpg)
    background-position: center bottom 105px
    position: relative
    margin-top: 250px
    padding-bottom: 150px
    &__bg
        display: block
        position: absolute
        opacity: 0
        &.active
            opacity: 1
        &--1
            width: 1390px
            height: 463px
            top: -440px
            left: -210px
            background-image: url(../img/cars-bg-1.png)
        &--2
            width: 1222px
            height: 627px
            top: -540px
            left: -150px
            background-image: url(../img/cars-bg-2.png)
    &__inner
        position: relative
        min-height: 760px 
        padding-top: 210px
    &__slider
        position: absolute
        top: 350px
        left: 38%
        width: 0
        height: 0
        .slick-list
            overflow: visible !important
        & [data-slick-index="0"]
            .cars__car
                left: -70px
                transform: translateX(-35px)
        & [data-slick-index="1"]
            .cars__car
                left: -185px
                transform: translateX(35px)
    &__car
        position: relative
        opacity: 0
        transition-property: opacity, transform
        transition: 1.5s ease-in-out
        &.active
            opacity: 1 !important
            transform: matrix(1, 0, 0, 1, 0, 0) !important
    &__prev,
    &__next
        position: absolute
        z-index: 3
        top: 370px
        width: 33px
        height: 18px
        background-image: url(../img/arrow-down.png)
        padding: 0
        line-height: 1
        background-color: transparent
        border: none
        cursor: pointer
        &.slick-disabled
            display: none !important
    &__prev
        left: 640px
        transform: rotate(90deg)
    &__next
        right: -80px
        transform: rotate(-90deg)
    &__title
        font-size: 30px
        line-height: 40px
        letter-spacing: 0.1em
        margin: 0 0 60px
        position: relative
        z-index: 1
    &__models
        margin-bottom: 60px
        position: relative
        z-index: 1
        img
            cursor: pointer
            opacity: 0.3
            max-width: 255px
            &.active
                opacity: 1
        img+img
                margin-left: 80px
    &__info
        position: relative
        z-index: 1
        display: none
        &.active
            display: block
    &__description
        font-size: 16px
        line-height: 26px
        max-width: 450px
        margin: 0
        position: relative
        z-index: 1
        strong
            color: #E63E21
    &__footer
        margin-top: 165px
        text-align: center

.car
    width: 945px
    position: relative
    &__wheels
        position: absolute
        bottom: 0
        .back,
        .front
            width: 150px
            height: 150px
            border-radius: 100%
            display: block
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            position: absolute
            z-index: 9
    &__car
        max-width: none
    &--1
        .car__wheels
            left: 0
            width: 942px
            .back
                left: 265px
                bottom: 16px
                background-image: url(../img/cars-car-1-back.png)
            .front
                right: 0
                bottom: 9px
                background-image: url(../img/cars-car-1-front.png)
    &--2
        .car__wheels
            left: 107px
            width: 949px
            .back
                left: 265px
                bottom: 16px
                background-image: url(../img/cars-car-2-back.png)
                animation-direction: reverse !important
            .front
                right: 0
                bottom: 9px
                background-image: url(../img/cars-car-2-front.png)
                animation-direction: reverse !important
    &.active
        .car__wheels
            .back,
            .front
                animation: rotate-center 1.5s ease-in-out both
    
@keyframes rotate-center
    0%
        transform: rotate(0)
    100%
        transform: rotate(40deg)