@import "bourbon"
@import "mixins"

.prizes
  &__inner
    padding-top: 230px
    font-size: 0
  &__content
    width: 35%
    display: inline-block
    vertical-align: top
    position: relative
    z-index: 2
  &__slider
    width: 65%
    display: inline-block
    position: relative
    z-index: 1
    .slick-list
      overflow: visible !important
    &_item
      min-height: 510px
      &-wrap
      &[data-slick-index="0"] 
        .prizes__item
          top: -130px
          left: 70px
      &[data-slick-index="1"] 
        .prizes__item
          top: -180px
          right: 0
      &.slick-active
        .prizes__item
          transform: scale(1.2)
  &__title
    font-size: 30px
    line-height: 40px
    letter-spacing: 0.1em
    margin: 0 0 30px
  &__text
    font-size: 18px
    line-height: 30px
    margin: 0
    span
      color: #E63E21
  &__prev,
  &__next
    display: none !important
  &__list
    margin-top: 50px
    &-item
      cursor: pointer
      position: relative
      padding: 7px 45px 7px 20px
      transition: all .2s ease-out
      border: none
      border-left: 2px solid #fff
      color: #fff
      background-color: transparent
      display: block
      width: 100%
      max-width: 250px
      text-align: left
      margin-bottom: 30px
      background-image: linear-gradient(270deg, #191919 0%, rgba(255, 255, 255, 0) 100%)
      &::after
        content: ''
        position: absolute
        right: 20px
        top: 50%
        margin-top: -5px
        width: 16px
        height: 10px
        background-image: url(../img/rpizes-arrow.png)
      &:hover,
      &.active
        color: #E63E21
        border-color: #E63E21
        &::after
          background-image: url(../img/rpizes-arrow-hover.png)
        .prizes__list-item-logo::after
          opacity: 1
        .prizes__list-item-logo::before
          opacity: 0
      &.disabled
        pointer-events: none
        &::after
          display: none
      &-logo
        position: relative
        display: inline-block
        vertical-align: middle
        margin-right: 10px
        &::after,
        &::before
          content: ''
          background-size: cover
          display: block
          transition: opacity .2s ease-out
        &::after
          opacity: 0
          position: absolute
          top: 0
          left: 0
      &--1
        .prizes__list-item-logo::before,
        .prizes__list-item-logo::after
          width: 22px
          height: 24px
        .prizes__list-item-logo::before
          background-image: url(../img/prize-1-logo-button.png)
        .prizes__list-item-logo::after
          background-image: url(../img/prize-1-logo-button-hover.png)
      &--2
        .prizes__list-item-logo::before,
        .prizes__list-item-logo::after
          width: 149px
          height: 19px
        .prizes__list-item-logo::before
          background-image: url(../img/prize-2-logo-button.png)
        .prizes__list-item-logo::after
          background-image: url(../img/prize-2-logo-button-hover.png)


  &__item
    max-width: none
    position: absolute
    transition: transform 10s ease-out
  &__description
    position: relative
    z-index: 1
    font-size: 16px
    line-height: 26px
    font-style: italic
    max-width: 310px
    display: inline-block
    text-align: left
  &__logo
    display: none !important