@import "bourbon"
@import "icon.sass"
@import "mixins"

$font: 'Noto Sans', sans-serif
$font2: 'SKPorsche-Regular', sans-serif
$font3: 'DINPro-Regular', sans-serif

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
  color: #eee

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #000000
	color: #ffffff
	text-size-adjust: 100%
	-webkit-tap-highlight-color: transparent

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font

%container
	width: 100%
	max-width: 1600px	
	padding: 0 30px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container

.page
	overflow: hidden

section
	background-repeat: no-repeat

section h1,
section h2
	font-family: $font2
	font-weight: 400
	font-size: 20px

	
.scroll
	display: block
	margin: 0 auto
	width: 33px
	height: 18px
	background-image: url(../img/arrow-down.png)
	background-repeat: no-repeat
	padding: 0
	border: none
	background-color: transparent
	position: relative
	z-index: 1
	cursor: pointer
	overflow: visible
	&::after
		content: ''
		position: absolute
		z-index: 1
		top: 40px
		left: 50%
		margin-left: -83px
		display: block
		width: 165px
		height: 4px
		background: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%)	
		filter: blur(2px)
.btn
	font-family: $font2
	font-size: 18px
	line-height: 22px
	letter-spacing: 0.1em
	padding: 13px 80px
	border: 2px solid #FFFFFF
	border-radius: 25px
	background-color: transparent
	color: #fff
	cursor: pointer
	transition: all .2s ease-out
	text-align: center
	text-decoration: none
	display: inline-block
	&:hover
		background-color: #fff
		color: #000


@import "header"
@import "top"
@import "accomodation"
@import "cars"
@import "prizes"
@import "mediasection"
@import "faq"
@import "nav"
@import "footer"

@import "media"
