@import "bourbon"
@import "icon.sass"
@import "mixins"

$color: #f4c409
$font: 'Noto Sans', sans-serif
$font2: 'SKPorsche-Regular', sans-serif
$font3: 'DINPro-Regular', sans-serif

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
  color: #eee

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #000000
	color: #ffffff
	text-size-adjust: 100%
	-webkit-tap-highlight-color: transparent

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none	

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font

%container
	width: 100%
	max-width: 1600px	
	padding: 0 30px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container

.page
	overflow: hidden

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 2
	&__inner
		@extend %grid
	&__logo,
	&__menu
		display: table-cell
		vertical-align: middle
	&__logo
		width: 150px
		img
			position: relative
			left: -95px
			max-width: none
	&__menu
		text-align: right
	
.nav
	&__list
	&__item
		display: inline-block
		margin-left: 40px
	&__link
		font-size: 15px
		line-height: 18px
		color: inherit
		text-decoration: none
		font-family: $font3
		&.active,
		&:hover
			color: #E63E21

section
	background-repeat: no-repeat

section h1,
section h2
	font-family: $font2
	font-weight: 400
	font-size: 20px

.top
	background-image: url(../img/bg-1.jpg)
	background-position: 50% 0
	&__inner
		position: relative
		min-height: 872px
	&__cartrack
		position: relative
		&--1
			text-align: right
			padding-top: 50px
			.top__model
				right: 870px
				top: 237px
			.top__car
					right: -55px
		&--2
			.top__model
				left: 840px
				top: 150px
			.top__car
					left: -95px
	&__model
		position: absolute
	&__car
			position: relative
	&__title
		text-align: center
		margin-top: -135px
		letter-spacing: 0.1em
		line-height: 45px
		margin-bottom: 25px
		strong
			font-size: 65px
			display: block
			font-weight: 400
	&__date
		position: absolute
		bottom: 65px
		right: 0


.date
	font-size: 18px
	line-height: 25px
	&__sep
		display: inline-block
		vertical-align: middle
		position: relative
		top: -2px
		margin: 0 30px
		width: 93px
		height: 10px
		background-image: url(../img/date-arrow.png)

.scroll
	display: block
	margin: 0 auto
	width: 33px
	height: 18px
	background-image: url(../img/scroll-down.png)
	background-repeat: no-repeat
	padding: 0
	border: none
	background-color: transparent
	position: relative
	cursor: pointer
	&::after
		content: ''
		position: absolute
		z-index: 1
		top: 40px
		left: 50%
		margin-left: -83px
		display: block
		width: 165px
		height: 4px
		background: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%)	
		filter: blur(2px)

@import "cars"

.btn
	font-family: $font2
	font-size: 20px
	line-height: 22px
	letter-spacing: 0.1em
	padding: 13px 60px
	border: 2px solid #FFFFFF
	border-radius: 25px
	background-color: transparent
	color: #fff
	cursor: pointer
	transition: all .2s ease-out
	text-align: center
	&:hover
		background-color: #fff
		color: #000

.accomodation
	margin-top: 150px
	background-image: url(../img/bg-4.jpg)
	background-position: 50% 50%
	&__inner
		position: relative
		min-height: 872px
	&__content
		width: 550px
		position: absolute
		top: 50%
		left: 50%
		margin-left: -275px
		text-align: center
		transform: translateY(-50%)
	&__title
		margin: 0
		font-size: 30px
		line-height: 40px
		margin: 0 0 10px
	&__text
		margin: 0
		font-size: 18px
		line-height: 30px
		span
			color: #E63E21


.media
	background-image: url(../img/bg-5.png)
	background-position: 50% 120px
	margin-top: 250px
	&__inner
		min-height: 800px
		padding-top: 250px
	&__videos
		margin: 0 auto
		border-top: 2px solid #fff
		position: relative
		width: 520px
		height: 290px
		&::after,
		&::before
			content: ''
			position: absolute
			z-index: 1
			width: 2px
			height: 100%
			background-image: linear-gradient(to bottom, #fff, #000)
			top: 0
		&::after
			right: 0
		&::before
			left: 0
		&.playing
			.media__play
				transform: scale(0)
			.was-played
				.media__poster
					display: none
	&__title
		text-align: center
		font-size: 30px
		line-height: 40px
		letter-spacing: 0.1em
		margin: 0
	&__prev,
	&__next
		width: 21px
		height: 32px
		background-image: url(../img/video-arrow.png)
		background-color: transparent
		padding: 0
		line-height: 1
		border: none
		position: absolute
		top: 50%
		margin-top: -16px
		cursor: pointer
		transition: all .2s ease-out
		&.slick-disabled
			display: none !important
	&__prev
		left: -50px
		transform: scale(-1,1)
		&:hover
			transform: scale(-1,1) translateX(5px)
	&__next
		right: -50px
		&:hover
			transform: translateX(5px)
	&__play
		width: 53px
		height: 61px
		background-image: url(../img/play-icon.png)
		padding: 0
		line-height: 1
		border: none
		background-color: transparent
		position: absolute
		z-index: 1
		top: 50%
		left: 50%	
		margin-top: -30px
		margin-left: -20px
		cursor: pointer
		transition: all .3s ease-out
		&:hover
			transform: scale(.9)
	&__item
		position: relative
		width: 520px
		height: 290px
	&__poster
		position: absolute
		z-index: 1
		top: 0
		left: 0
		width: 100%
		height: 100%	
		background-size: cover
		background-position: 50% 50%

.video
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	border: none

.faq
	margin-top: 250px
	position: relative
	margin-bottom: 150px
	&::after
		content: ''
		position: absolute
		z-index: -1
		top: 0
		right: 50%
		margin-right: -200px
		background-image: url(../img/bg-6.png)	
		width: 1109px
		height: 802px
	&__inner
		min-height: 800px
		padding-top: 140px
		padding-left: calc(100% - 695px)
		overflow: hidden
	&__title
		font-size: 30px
		line-height: 40px
		letter-spacing: 0.1em
		margin: 0 0 40px	
	&__list
		width: calc(50% - 15px)
		display: block
		float: left
		&+&
			margin-left: 30px
	&__item
		padding: 0
		background-image: linear-gradient(270deg, #191919 0%, rgba(255, 255, 255, 0) 100%)
		&-caption
			margin: 0
			cursor: pointer
			position: relative
			padding: 7px 40px 7px 20px
			transition: all .2s ease-out
			&:hover
				color: #E63E21
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 2px
				height: 100%
				background-color: #E63E21
			&::after
				content: ''
				position: absolute
				top: 14px
				right: 15px
				width: 12px
				height: 7px
				background-image: url(../img/faq-arrow-expand.png)
		&-text
			margin: 0
			padding: 8px 20px 20px
			display: none
		&.active
			.faq__item-caption
				color: #E63E21
				&::after
					transform: scale(1,-1)


.sections
	position: fixed
	z-index: 3
	bottom: 60px
	left: 0
	width: 100%
	transform: translateY(200px)
	transition: all .6s ease-out
	&.show
		transform: translateY(0)
	&__list
		display: flex
		justify-content: space-between
		position: relative
	&__item
		font-size: 20px
		line-height: 1
		letter-spacing: 0.1em
		font-family: $font2
		color: #fff
		padding: 0
		background-color: transparent
		border: none
		color: #777
		cursor: pointer
		transition: all .2s ease-out
		position: relative
		&::after
			content: ''
			position: absolute
			z-index: 1
			top: 40px
			left: -45px
			display: block
			width: calc(100% + 90px)
			height: 4px
			background: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%)	
			filter: blur(2px)
			transition: all .2s ease-out
			transform: scaleX(0)
		&::before
			content: ''
			position: absolute
			bottom: -84px
			left: -90px
			width: calc(100% + 180px)
			height: 24px
			box-shadow: 0px -10px 75px #EB1515
			opacity: 0
			transition: all .2s ease-out
		&:hover,
		&.active
			color: #fff
			&::after
				transform: scaleX(1)
		&.active
			&::before
				opacity: 1



@media screen and (-webkit-min-device-pixel-ratio:0)
	.sections__item
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		background-image: -webkit-linear-gradient(#fff, #000)
		&:hover,
		&.active
			background-image: none
			-webkit-text-fill-color: #fff
			-webkit-background-clip: initial
	
	//ALWAYS END
@import "media"
