@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
}

.header__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.page {
  overflow: hidden;
}

section {
  background-repeat: no-repeat;
}

section h1,
section h2 {
  font-family: "SKPorsche-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding-top: 7px;
}

.header__logo, .header__menu {
  display: table-cell;
  vertical-align: middle;
}

.header__logo {
  width: 150px;
}

.header__logo img {
  position: relative;
  left: -95px;
  max-width: none;
}

.header__menu {
  text-align: right;
}

.nav__btn {
  display: none;
}

.nav__item {
  display: inline-block;
  margin-left: 40px;
}

.nav__link {
  font-size: 15px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  font-family: "DINPro-Regular", sans-serif;
}

.nav__link.active, .nav__link:hover {
  color: #E63E21;
}

.top {
  background-image: url(../img/bg-1.jpg);
  background-position: 50% 0;
}

.top__inner {
  position: relative;
  min-height: 872px;
}

.top__cartrack {
  position: relative;
}

.top__cartrack--1 {
  text-align: right;
  padding-top: 50px;
}

.top__cartrack--1 .top__model {
  right: 870px;
  top: 237px;
}

.top__cartrack--1 .top__car {
  right: -55px;
}

.top__cartrack--2 .top__model {
  left: 840px;
  top: 150px;
}

.top__cartrack--2 .top__car {
  left: -95px;
}

.top__model {
  position: absolute;
}

.top__car {
  position: relative;
  max-width: none;
}

.top__title {
  text-align: center;
  margin-top: -135px;
  letter-spacing: 0.1em;
  line-height: 45px;
  margin-bottom: 25px;
}

.top__title strong {
  font-size: 65px;
  display: block;
  font-weight: 400;
}

.top__date {
  position: absolute;
  bottom: 65px;
  right: 0;
}

.date {
  font-size: 18px;
  line-height: 25px;
}

.date__sep {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin: 0 30px;
  width: 93px;
  height: 10px;
  background-image: url(../img/date-arrow.png);
}

.accomodation {
  margin-top: 150px;
  background-image: url(../img/bg-4.jpg);
  background-position: 50% 50%;
}

.accomodation__inner {
  position: relative;
  min-height: 872px;
}

.accomodation__content {
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accomodation__title {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 10px;
}

.accomodation__text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.accomodation__text span {
  color: #E63E21;
}

.cars {
  background-image: url(../img/bg-2.jpg);
  background-position: center bottom 105px;
  position: relative;
  margin-top: 250px;
  padding-bottom: 150px;
}

.cars__bg {
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.cars__bg.active {
  opacity: 1;
}

.cars__bg--1 {
  width: 1390px;
  height: 463px;
  top: -440px;
  left: -210px;
  background-image: url(../img/cars-bg-1.png);
}

.cars__bg--2 {
  width: 1222px;
  height: 627px;
  top: -540px;
  left: -150px;
  background-image: url(../img/cars-bg-2.png);
}

.cars__inner {
  position: relative;
  min-height: 760px;
  padding-top: 210px;
}

.cars__slider {
  position: absolute;
  top: 390px;
  width: 1130px;
  left: 38%;
}

.cars__slider .slick-list {
  overflow: visible;
}

.cars__slider [data-slick-index="0"] .cars__car {
  left: -70px;
}

.cars__slider [data-slick-index="1"] .cars__car {
  left: -70px;
}

.cars__car {
  position: relative;
  max-width: none;
}

.cars__prev, .cars__next {
  position: absolute;
  z-index: 3;
  top: 370px;
  width: 33px;
  height: 18px;
  background-image: url(../img/arrow-down.png);
  padding: 0;
  line-height: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cars__prev.slick-disabled, .cars__next.slick-disabled {
  display: none !important;
}

.cars__prev {
  left: 600px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cars__next {
  right: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.cars__title {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  margin: 0 0 60px;
  position: relative;
  z-index: 1;
}

.cars__models {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.cars__models img {
  cursor: pointer;
  opacity: 0.3;
}

.cars__models img.active {
  opacity: 1;
}

.cars__models img + img {
  margin-left: 80px;
}

.cars__info {
  position: relative;
  z-index: 1;
  display: none;
}

.cars__info.active {
  display: block;
}

.cars__description {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  max-width: 450px;
  margin: 0;
}

.cars__specifications {
  margin-top: 30px;
  max-width: 600px;
  overflow: hidden;
}

.cars__specifications li {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  margin-bottom: 10px;
  float: left;
  width: -webkit-calc(50% - 20px);
  width: calc(50% - 20px);
}

.cars__specifications li:nth-child(even) {
  margin-left: 40px;
}

.cars__footer {
  margin-top: 85px;
  text-align: center;
}

.prizes__inner {
  padding-top: 230px;
  font-size: 0;
}

.prizes__content {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

.prizes__slider {
  width: 65%;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.prizes__slider .slick-list {
  overflow: visible;
}

.prizes__slider_item {
  min-height: 570px;
}

.prizes__slider_item-wrap {
  position: relative;
  text-align: right;
}

.prizes__slider_item[data-slick-index="0"] .prizes__slider_item-wrap {
  margin-top: 115px;
}

.prizes__slider_item[data-slick-index="0"] .prizes__item {
  top: -220px;
  left: -60px;
}

.prizes__slider_item[data-slick-index="0"] .prizes__logo {
  margin-left: -20px;
}

.prizes__slider_item[data-slick-index="1"] .prizes__slider_item-wrap {
  margin-top: 210px;
}

.prizes__slider_item[data-slick-index="1"] .prizes__item {
  top: -440px;
  left: -690px;
}

.prizes__slider_item[data-slick-index="1"] .prizes__logo {
  margin-bottom: 30px;
}

.prizes__slider_item[data-slick-index="2"] .prizes__item {
  top: -120px;
  left: -40px;
}

.prizes__slider_item[data-slick-index="2"] .prizes__description {
  display: none;
}

.prizes__title {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  margin: 0 0 30px;
}

.prizes__text {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.prizes__text span {
  color: #E63E21;
}

.prizes__prev, .prizes__next {
  display: none !important;
}

.prizes__list {
  margin-top: 50px;
}

.prizes__list button {
  cursor: pointer;
  position: relative;
  padding: 7px 45px 7px 20px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border: none;
  border-left: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  display: block;
  width: 100%;
  max-width: 250px;
  text-align: left;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#191919), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(right, #191919 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(270deg, #191919 0%, rgba(255, 255, 255, 0) 100%);
}

.prizes__list button::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -5px;
  width: 16px;
  height: 10px;
  background-image: url(../img/rpizes-arrow.png);
}

.prizes__list button:hover, .prizes__list button.active {
  color: #E63E21;
  border-color: #E63E21;
}

.prizes__list button:hover::after, .prizes__list button.active::after {
  background-image: url(../img/rpizes-arrow-hover.png);
}

.prizes__item {
  max-width: none;
  position: absolute;
}

.prizes__description {
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  max-width: 310px;
  display: inline-block;
  text-align: left;
}

.media {
  background-image: url(../img/bg-5.png);
  background-position: 50% 120px;
  margin-top: 150px;
}

.media__inner {
  min-height: 800px;
  padding-top: 250px;
}

.media__videos {
  margin: 0 auto;
  border-top: 2px solid #fff;
  position: relative;
  width: 520px;
  height: 290px;
}

.media__videos::after, .media__videos::before {
  content: '';
  position: absolute;
  z-index: 3;
  width: 2px;
  height: 100%;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
  background-image: -o-linear-gradient(top, #fff, #000);
  background-image: linear-gradient(to bottom, #fff, #000);
  top: 0;
}

.media__videos::after {
  right: 0;
}

.media__videos::before {
  left: 0;
}

.media__videos.playing .media__play {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.media__videos.playing .was-played .media__poster {
  display: none;
}

.media__title {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  margin: 0;
}

.media__prev, .media__next {
  width: 21px;
  height: 32px;
  background-image: url(../img/video-arrow.png);
  background-color: transparent;
  padding: 0;
  line-height: 1;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.media__prev.slick-disabled, .media__next.slick-disabled {
  display: none !important;
}

.media__prev {
  left: -50px;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.media__prev:hover {
  -webkit-transform: scale(-1, 1) translateX(5px);
  -ms-transform: scale(-1, 1) translateX(5px);
  transform: scale(-1, 1) translateX(5px);
}

.media__next {
  right: -50px;
}

.media__next:hover {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.media__play {
  width: 53px;
  height: 61px;
  background-image: url(../img/play-icon.png);
  padding: 0;
  line-height: 1;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.media__play:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.media__item {
  position: relative;
  z-index: 1;
  width: 520px;
  height: 290px;
}

.media__poster {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.faq {
  margin-top: 250px;
  position: relative;
  margin-bottom: 150px;
}

.faq::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  margin-right: -200px;
  background-image: url(../img/bg-6.png);
  width: 1109px;
  height: 802px;
}

.faq__inner {
  min-height: 800px;
  padding-top: 140px;
  padding-left: -webkit-calc(100% - 695px);
  padding-left: calc(100% - 695px);
  overflow: hidden;
}

.faq__title {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  margin: 0 0 40px;
}

.faq__list {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  display: block;
  float: left;
}

.faq__list + .faq__list {
  margin-left: 30px;
}

.faq__item {
  padding: 0;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, right top, left top, from(#191919), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(right, #191919 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(270deg, #191919 0%, rgba(255, 255, 255, 0) 100%);
}

.faq__item-caption {
  margin: 0;
  cursor: pointer;
  position: relative;
  padding: 7px 40px 7px 20px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.faq__item-caption:hover {
  color: #E63E21;
}

.faq__item-caption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #E63E21;
}

.faq__item-caption::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 15px;
  width: 12px;
  height: 7px;
  background-image: url(../img/arrow-expand.png);
}

.faq__item-text {
  padding: 8px 20px 20px;
  display: none;
}

.faq__item-text p {
  margin: 0;
}

.faq__item-text p + p {
  margin-top: 7px;
}

.faq__item-text strong {
  color: #E63E21;
}

.faq__item.active .faq__item-caption {
  color: #E63E21;
}

.faq__item.active .faq__item-caption::after {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.sections {
  position: fixed;
  z-index: 8;
  bottom: 60px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.sections.show {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.sections__btn {
  display: none;
}

.sections__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

.sections__item {
  font-size: 17px;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: "SKPorsche-Regular", sans-serif;
  color: #fff;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #777;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  position: relative;
  overflow: visible;
}

.sections__item::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 40px;
  left: -45px;
  display: block;
  width: -webkit-calc(100% + 90px);
  width: calc(100% + 90px);
  height: 4px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.sections__item::before {
  content: '';
  position: absolute;
  bottom: -84px;
  left: -90px;
  width: -webkit-calc(100% + 180px);
  width: calc(100% + 180px);
  height: 24px;
  -webkit-box-shadow: 0px -10px 75px #EB1515;
  box-shadow: 0px -10px 75px #EB1515;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.sections__item:hover, .sections__item.active {
  color: #fff;
}

.sections__item:hover::after, .sections__item.active::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.sections__item.active::before {
  opacity: 1;
}

.scroll {
  display: block;
  margin: 0 auto;
  width: 33px;
  height: 18px;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: visible;
}

.scroll::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 50%;
  margin-left: -83px;
  display: block;
  width: 165px;
  height: 4px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.btn {
  font-family: "SKPorsche-Regular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.1em;
  padding: 13px 60px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: center;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 1450px) {
  .prizes__slider_item[data-slick-index="0"] .prizes__item {
    max-width: 1100px;
    top: -260px;
    left: -70%;
  }
}

@media only screen and (max-width: 1150px) {
  .top {
    background-position: center top -50px;
  }
  .top__inner {
    min-height: 815px;
  }
  .top__title {
    margin-top: -115px;
    margin-bottom: 5px;
  }
  .top__cartrack--1 .top__car {
    width: 780px;
  }
  .top__cartrack--2 .top__car {
    width: 780px;
  }
  .top__cartrack--1 .top__model {
    right: 710px;
    top: 197px;
  }
  .top__cartrack--2 .top__model {
    left: 670px;
    top: 130px;
  }
  .top__title strong {
    font-size: 55px;
  }
  .scroll {
    margin-top: -85px;
  }
  .sections__item {
    font-size: 13px;
  }
  .cars {
    margin-bottom: 0;
    margin-top: 280px;
  }
  .cars__specifications li {
    width: 100%;
    margin-left: 0 !important;
  }
  .cars__prev, .cars__next {
    display: none;
  }
  .faq::after {
    margin-right: -280px;
  }
  .prizes__inner {
    padding-top: 150px;
  }
  .prizes__slider_item[data-slick-index="0"] .prizes__item {
    left: -590px;
  }
  .prizes__slider_item[data-slick-index="1"] .prizes__item {
    max-width: 400px;
    left: -110px;
    top: -130px;
  }
  .prizes__text br {
    display: none;
  }
  .accomodation {
    margin-top: 50px;
  }
  .media {
    margin-top: 50px;
  }
  .faq {
    margin-top: 11px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .sections__item {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(#fff, #000);
  }
  .sections__item:hover, .sections__item.active {
    background-image: none;
    -webkit-text-fill-color: #fff;
    -webkit-background-clip: initial;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
    max-width: 450px;
  }
  .header {
    padding-top: 0;
    z-index: 9;
  }
  .header__inner {
    position: relative;
  }
  .header__logo img {
    left: -81px;
    max-width: 330px;
    z-index: 2;
  }
  .nav__list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: 90px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: visibility, opacity, background-color;
    -o-transition-property: visibility, opacity, background-color;
    transition-property: visibility, opacity, background-color;
    -webkit-transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .nav__list.opened {
    opacity: 1;
    visibility: visible;
    background-color: #000;
  }
  .nav__list.opened .nav__item {
    opacity: 1;
  }
  .nav__item {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
  }
  .nav__btn {
    padding: 15px;
    line-height: 1;
    display: block;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: -15px;
    background-color: transparent;
    border: none;
  }
  .nav__btn span {
    display: block;
    width: 26px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    z-index: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  }
  .nav__btn.opened span:first-child {
    -webkit-transform: translateY(8px) rotate(45deg) translateZ(0);
    transform: translateY(8px) rotate(45deg) translateZ(0);
  }
  .nav__btn.opened span:nth-child(2) {
    opacity: 0;
  }
  .nav__btn.opened span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg) translateZ(0);
    transform: translateY(-8px) rotate(-45deg) translateZ(0);
  }
  .top {
    background-size: 668px;
    background-position: center top 80px;
  }
  .top__inner {
    min-height: 490px;
  }
  .top__cartrack--1 {
    padding-top: 80px;
  }
  .top__cartrack--1 .top__car {
    width: 458px;
    right: auto;
    left: 50%;
    margin-left: -242px;
  }
  .top__cartrack--1 .top__model {
    width: 111px;
    position: relative;
    right: auto;
    margin-bottom: -5px;
  }
  .top__cartrack--2 .top__car {
    width: 466px;
    left: 50%;
    margin-left: -213px;
  }
  .top__cartrack--2 .top__model {
    width: 127px;
    left: auto;
    margin-top: -30px;
  }
  .top__model {
    position: relative;
    top: auto !important;
    display: block;
    margin: 0 auto;
  }
  .top__car {
    display: block;
  }
  .top__title {
    font-size: 12px;
    line-height: 21px;
    margin-top: -55px;
    margin-bottom: 3px;
  }
  .top__title strong {
    font-size: 16px;
  }
  .top__date {
    position: relative;
    bottom: auto;
    right: auto;
    text-align: center;
    margin-top: 30px;
  }
  .date {
    font-size: 14px;
    line-height: 17px;
  }
  .date__sep {
    margin: 0 20px;
    width: 7px;
    height: 10px;
    background-image: url(../img/date-arrow-mobile.png);
  }
  .scroll {
    margin-top: 20px;
    width: 20px;
    height: 10px;
    background-size: cover;
  }
  .scroll::after {
    width: 80px;
    margin-left: -40px;
    top: 20px;
  }
  .sections {
    display: none !important;
    bottom: 0;
    padding-bottom: 35px;
    padding-top: 30px;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .sections .container {
    padding: 0 10px;
  }
  .sections::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#EB1515), to(rgba(235, 21, 21, 0)));
    background-image: -o-linear-gradient(bottom, #EB1515 0%, rgba(235, 21, 21, 0) 100%);
    background-image: linear-gradient(to top, #EB1515 0%, rgba(235, 21, 21, 0) 100%);
  }
  .sections.expanded {
    top: 0;
    background-image: none;
    background-color: #000;
  }
  .sections.expanded::after {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .sections.expanded .sections__list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .sections__inner {
    position: relative;
  }
  .sections__list {
    background-color: #000;
    -webkit-transition-property: visibility, opacity, -webkit-transform;
    transition-property: visibility, opacity, -webkit-transform;
    -o-transition-property: visibility, opacity, transform;
    transition-property: visibility, opacity, transform;
    transition-property: visibility, opacity, transform, -webkit-transform;
    -webkit-transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    padding-top: 50px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .sections__item {
    display: block;
    font-size: 12px;
    line-height: 24px;
    display: table;
    margin: 0 auto 50px;
    display: none;
  }
  .sections__item::before {
    display: none;
  }
  .sections__item::after {
    top: auto;
    bottom: -10px;
    height: 2px;
  }
  .sections__btn {
    display: block;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    color: #fff;
    font-family: "SKPorsche-Regular", sans-serif;
    border: none;
    display: table;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
  .sections__btn::after, .sections__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 7px;
    background-image: url(../img/arrow-expand.png);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }
  .sections__btn::after {
    right: 0;
  }
  .sections__btn::before {
    left: 0;
  }
  .sections__btn span {
    position: relative;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    display: inline-block;
  }
  .sections__btn span::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -117px;
    width: 235px;
    height: 2px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    background-image: -o-radial-gradient(50% 50%, 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
    background-image: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  }
  .sections__btn.hide::before, .sections__btn.hide::after {
    -webkit-transform: scale(1, -1) translateY(5px);
    -ms-transform: scale(1, -1) translateY(5px);
    transform: scale(1, -1) translateY(5px);
    opacity: 0;
  }
  .sections__btn.hide span {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }
  .cars {
    background-image: none;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 80px;
    padding-bottom: 0;
  }
  .cars__inner {
    min-height: auto;
    padding-top: 0;
  }
  .cars__title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .cars__slider {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    margin-top: 65px;
    height: 100px;
    background-image: url(../img/bg-2.jpg);
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    text-align: center;
    position: relative;
    padding: 0 20px;
  }
  .cars__slider [data-slick-index="0"] .cars__car {
    left: 50%;
    margin-left: -160px;
    width: 320px;
  }
  .cars__slider [data-slick-index="1"] .cars__car {
    left: 50%;
    width: 297px;
    margin-left: -160px;
  }
  .cars__bg {
    background-size: cover;
  }
  .cars__bg--1 {
    width: 320px;
    height: 125px;
    top: -80px;
    left: 50%;
    margin-left: -173px;
  }
  .cars__bg--2 {
    width: 320px;
    height: 163px;
    top: -140px;
    left: 50%;
    margin-left: -155px;
  }
  .cars__models {
    text-align: center;
    margin-bottom: 30px;
  }
  .cars__models img:nth-child(1) {
    width: 123px;
  }
  .cars__models img:nth-child(2) {
    width: 111px;
  }
  .cars__models img + img {
    margin-left: 40px;
  }
  .cars__specifications {
    display: none;
  }
  .cars__description {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0 20px;
  }
  .cars__prev, .cars__next {
    display: none !important;
  }
  .cars__footer {
    padding: 0 20px;
    margin-top: 0;
  }
  .btn {
    width: 100%;
  }
  .prizes__inner {
    padding-top: 80px;
  }
  .prizes__content, .prizes__slider {
    display: block;
    width: auto;
  }
  .prizes__content {
    margin-bottom: 20px;
  }
  .prizes__slider_item {
    min-height: auto;
    text-align: center;
  }
  .prizes__slider_item-wrap {
    margin-top: 0 !important;
  }
  .prizes__slider_item[data-slick-index="0"] .prizes__logo {
    width: 138px;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .prizes__slider_item[data-slick-index="0"] .prizes__item {
    width: 146px;
    margin-left: -81px;
    margin-bottom: 10px;
  }
  .prizes__slider_item[data-slick-index="1"] .prizes__logo {
    width: 158px;
    margin-bottom: 10px;
  }
  .prizes__slider_item[data-slick-index="1"] .prizes__item {
    width: 445px;
    margin-left: -262px;
    margin-bottom: -10px;
  }
  .prizes__slider_item[data-slick-index="2"] .prizes__item {
    width: 278px;
    margin-left: -139px;
    margin-bottom: 45px;
  }
  .prizes__slider_item[data-slick-index="2"] .prizes__description {
    display: block;
    font-style: normal;
    font-size: 18px;
  }
  .prizes__title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .prizes__text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .prizes__list {
    display: none;
  }
  .prizes__item {
    position: relative;
    max-width: none !important;
    left: 50% !important;
    top: auto !important;
  }
  .prizes__logo {
    margin: 0 auto;
  }
  .prizes__description {
    max-width: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .prizes__description p {
    margin: 0;
  }
  .prizes__prev, .prizes__next {
    position: absolute;
    z-index: 3;
    top: 75px;
    width: 20px;
    height: 10px;
    background-image: url(../img/arrow-down.png);
    background-size: cover;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block !important;
  }
  .prizes__prev {
    left: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .prizes__next {
    right: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .accomodation {
    background-image: none;
    margin-top: 90px;
  }
  .accomodation__inner {
    min-height: 0;
  }
  .accomodation__content {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .accomodation__content::after {
    content: '';
    position: relative;
    display: block;
    width: 724px;
    height: 328px;
    left: 50%;
    margin-left: -360px;
    background-image: url(../img/bg-4.jpg);
    background-size: cover;
    margin-top: 10px;
  }
  .accomodation__title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .accomodation__text {
    font-size: 14px;
    line-height: 20px;
  }
  .media {
    background-image: none;
    margin-top: 90px;
  }
  .media__inner {
    display: table;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 170px;
    width: 100%;
  }
  .media__title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 95px;
    display: table-caption;
  }
  .media__videos-wrap {
    position: relative;
  }
  .media__videos-wrap::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -242px;
    top: -57px;
    width: 710px;
    height: 350px;
    background-size: cover;
    background-image: url(../img/bg-5.png);
  }
  .media__videos, .media__item {
    width: 225px;
    height: 125px;
  }
  .media__play {
    width: 22px;
    height: 26px;
    background-size: cover;
    margin-top: -13px;
    margin-left: -5px;
  }
  .media__prev, .media__next {
    width: 16px;
    height: 25px;
    background-size: cover;
    margin-top: -13px;
  }
}
