@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
}

.header__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.page {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header__logo, .header__menu {
  display: table-cell;
  vertical-align: middle;
}

.header__logo {
  width: 150px;
}

.header__logo img {
  position: relative;
  left: -95px;
  max-width: none;
}

.header__menu {
  text-align: right;
}

.nav__item {
  display: inline-block;
  margin-left: 40px;
}

.nav__link {
  font-size: 15px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  font-family: "DINPro-Regular", sans-serif;
}

.nav__link.active, .nav__link:hover {
  color: #E63E21;
}

section {
  background-repeat: no-repeat;
}

section h1,
section h2 {
  font-family: "SKPorsche-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.top {
  background-image: url(../img/bg-1.jpg);
  background-position: 50% 0;
}

.top__inner {
  position: relative;
  min-height: 872px;
}

.top__cartrack {
  position: relative;
}

.top__cartrack--1 {
  text-align: right;
  padding-top: 50px;
}

.top__cartrack--1 .top__model {
  right: 870px;
  top: 237px;
}

.top__cartrack--1 .top__car {
  right: -55px;
}

.top__cartrack--2 .top__model {
  left: 840px;
  top: 150px;
}

.top__cartrack--2 .top__car {
  left: -95px;
}

.top__model {
  position: absolute;
}

.top__car {
  position: relative;
}

.top__title {
  text-align: center;
  margin-top: -135px;
  letter-spacing: 0.1em;
  line-height: 45px;
  margin-bottom: 25px;
}

.top__title strong {
  font-size: 65px;
  display: block;
  font-weight: 400;
}

.top__date {
  position: absolute;
  bottom: 65px;
  right: 0;
}

.date {
  font-size: 18px;
  line-height: 25px;
}

.date__sep {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin: 0 30px;
  width: 93px;
  height: 10px;
  background-image: url(../img/date-arrow.png);
}

.scroll {
  display: block;
  margin: 0 auto;
  width: 33px;
  height: 18px;
  background-image: url(../img/scroll-down.png);
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.scroll::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 50%;
  margin-left: -83px;
  display: block;
  width: 165px;
  height: 4px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cars {
  background-image: url(../img/bg-2.jpg);
  background-position: center bottom 15px;
  position: relative;
  margin-top: 180px;
}

.cars__bg {
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.cars__bg.active {
  opacity: 1;
}

.cars__bg--1 {
  width: 1390px;
  height: 463px;
  top: -140px;
  left: 32%;
  background-image: url(../img/cars-bg-1.png);
}

.cars__bg--2 {
  width: 1222px;
  height: 627px;
  top: -210px;
  left: 33%;
  background-image: url(../img/cars-bg-2.png);
}

.cars__inner {
  position: relative;
  min-height: 760px;
  padding-top: 130px;
}

.cars__slider {
  position: absolute;
  bottom: 180px;
  width: 1130px;
  left: 38%;
}

.cars__slider .slick-list {
  overflow: visible;
}

.cars__slider [data-slick-index="0"] .cars__car {
  left: -70px;
}

.cars__slider [data-slick-index="1"] .cars__car {
  left: -70px;
}

.cars__car {
  position: relative;
}

.cars__prev, .cars__next {
  display: none !important;
}

.cars__title {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  margin: 0 0 60px;
  position: relative;
  z-index: 1;
}

.cars__models {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.cars__models img {
  cursor: pointer;
  opacity: 0.3;
}

.cars__models img.active {
  opacity: 1;
}

.cars__models img + img {
  margin-left: 80px;
}

.cars__info {
  position: relative;
  z-index: 1;
  display: none;
}

.cars__info.active {
  display: block;
}

.cars__description {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  max-width: 450px;
  margin: 0;
}

.cars__specifications {
  margin-top: 30px;
  max-width: 600px;
  overflow: hidden;
}

.cars__specifications li {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  margin-bottom: 10px;
  float: left;
  width: -webkit-calc(50% - 20px);
  width: calc(50% - 20px);
}

.cars__specifications li:nth-child(even) {
  margin-left: 40px;
}

.cars__footer {
  margin-top: 85px;
  text-align: center;
}

.btn {
  font-family: "SKPorsche-Regular", sans-serif;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.1em;
  padding: 13px 60px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: center;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.accomodation {
  margin-top: 150px;
  background-image: url(../img/bg-4.jpg);
  background-position: 50% 50%;
}

.accomodation__inner {
  position: relative;
  min-height: 872px;
}

.accomodation__content {
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accomodation__title {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 10px;
}

.accomodation__text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.accomodation__text span {
  color: #E63E21;
}

.media {
  background-image: url(../img/bg-5.png);
  background-position: 50% 120px;
  margin-top: 250px;
}

.media__inner {
  min-height: 800px;
  padding-top: 250px;
}

.media__videos {
  margin: 0 auto;
  border-top: 2px solid #fff;
  position: relative;
  width: 520px;
  height: 290px;
}

.media__videos::after, .media__videos::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 2px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
  background-image: -o-linear-gradient(top, #fff, #000);
  background-image: linear-gradient(to bottom, #fff, #000);
  top: 0;
}

.media__videos::after {
  right: 0;
}

.media__videos::before {
  left: 0;
}

.media__videos.playing .media__play {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.media__videos.playing .was-played .media__poster {
  display: none;
}

.media__title {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  margin: 0;
}

.media__prev, .media__next {
  width: 21px;
  height: 32px;
  background-image: url(../img/video-arrow.png);
  background-color: transparent;
  padding: 0;
  line-height: 1;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.media__prev.slick-disabled, .media__next.slick-disabled {
  display: none !important;
}

.media__prev {
  left: -50px;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.media__prev:hover {
  -webkit-transform: scale(-1, 1) translateX(5px);
  -ms-transform: scale(-1, 1) translateX(5px);
  transform: scale(-1, 1) translateX(5px);
}

.media__next {
  right: -50px;
}

.media__next:hover {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.media__play {
  width: 53px;
  height: 61px;
  background-image: url(../img/play-icon.png);
  padding: 0;
  line-height: 1;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.media__play:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.media__item {
  position: relative;
  width: 520px;
  height: 290px;
}

.media__poster {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.faq {
  margin-top: 250px;
  position: relative;
  margin-bottom: 150px;
}

.faq::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  margin-right: -200px;
  background-image: url(../img/bg-6.png);
  width: 1109px;
  height: 802px;
}

.faq__inner {
  min-height: 800px;
  padding-top: 140px;
  padding-left: -webkit-calc(100% - 695px);
  padding-left: calc(100% - 695px);
  overflow: hidden;
}

.faq__title {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  margin: 0 0 40px;
}

.faq__list {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  display: block;
  float: left;
}

.faq__list + .faq__list {
  margin-left: 30px;
}

.faq__item {
  padding: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#191919), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(right, #191919 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(270deg, #191919 0%, rgba(255, 255, 255, 0) 100%);
}

.faq__item-caption {
  margin: 0;
  cursor: pointer;
  position: relative;
  padding: 7px 40px 7px 20px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.faq__item-caption:hover {
  color: #E63E21;
}

.faq__item-caption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #E63E21;
}

.faq__item-caption::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 15px;
  width: 12px;
  height: 7px;
  background-image: url(../img/faq-arrow-expand.png);
}

.faq__item-text {
  margin: 0;
  padding: 8px 20px 20px;
  display: none;
}

.faq__item.active .faq__item-caption {
  color: #E63E21;
}

.faq__item.active .faq__item-caption::after {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.sections {
  position: fixed;
  z-index: 3;
  bottom: 60px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.sections.show {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.sections__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.sections__item {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: "SKPorsche-Regular", sans-serif;
  color: #fff;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #777;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  position: relative;
}

.sections__item::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 40px;
  left: -45px;
  display: block;
  width: -webkit-calc(100% + 90px);
  width: calc(100% + 90px);
  height: 4px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #E63E21 66.67%, rgba(230, 62, 33, 0) 100%);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.sections__item::before {
  content: '';
  position: absolute;
  bottom: -84px;
  left: -90px;
  width: -webkit-calc(100% + 180px);
  width: calc(100% + 180px);
  height: 24px;
  -webkit-box-shadow: 0px -10px 75px #EB1515;
  box-shadow: 0px -10px 75px #EB1515;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.sections__item:hover, .sections__item.active {
  color: #fff;
}

.sections__item:hover::after, .sections__item.active::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.sections__item.active::before {
  opacity: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .sections__item {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(#fff, #000);
  }
  .sections__item:hover, .sections__item.active {
    background-image: none;
    -webkit-text-fill-color: #fff;
    -webkit-background-clip: initial;
  }
}

/* Desktop-frist */
@media only screen and (max-width: 991px) {
  /**/
}

/* Mobile-first */
@media only screen and (min-width: 992px) {
  /**/
}
