doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		title New Challenge - Posh’n’Porsche
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='icon', href='img/icon.png', type='image/png')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap")
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/slick.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script.
			(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
			'gtm.start':
			new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
			'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-WM6ZR6Q');

	body(data-lang-status="en")
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WM6ZR6Q' height='0' width='0' style='display:none;visibility:hidden')
		.page
			header.header
				.container
					.header__inner
						a(href="https://adcombo.com/").header__logo
							img(src="img/logo.png", alt="")
						.header__menu
							nav.nav
								button.nav__btn
									span
									span
									span
								ul.nav__list
									li.nav__item
										a.nav__link(href="https://adcombo.com/offers/")(data-lang-id="48") Our offers
									li.nav__item
										a.nav__link(href="https://adcombo.com/publisher/")(data-lang-id="49") Publisher
									li.nav__item
										a.nav__link(href="https://adcombo.com/advertiser/")(data-lang-id="50") Advertiser
									li.nav__item
										a.nav__link(href="https://blog.adcombo.com/")(data-lang-id="51") Blog
									li.nav__item
										a.nav__link(href="https://adcombo.com/contact/")(data-lang-id="52") Contact
									li.nav__item
										a.nav__link(href="https://adcombo.com/faq/")(data-lang-id="53") FAQ
									li.nav__item
										a.nav__link(href="https://adcombo.com/signup/")(data-lang-id="54").active Sign Up
									li.nav__item
										a.nav__link(href="https://my.adcombo.com/login")(data-lang-id="55").active Log In
								button.nav__lang.lang
									span.lang__current(data-lang-status="en") En
									span.lang__list
										span.lang__item(data-lang-switcher="ru") Ru
					
			section.top#top
				.container
					.top__inner
						.top__cartrack.top__cartrack--1
							img.top__model(src="img/boxster_logo.svg", alt="")
							img.top__car(src="img/car-1.png", alt="")
						h1.top__title 
							span(data-lang-id="1") new challenge
							strong(data-lang-id="2") posh’n’porsche
						.top__cartrack.top__cartrack--2
							img.top__car(src="img/car-2.png", alt="")
							img.top__model(src="img/carrera_logo.svg", alt="")
						.top__date.date
							span.date__from 
								span(data-lang-id="3") Start 
								|  01.02.20
							span.date__sep
							span.date__to 
								span(data-lang-id="4") Finish 
								|  01.09.20

			button.scroll(data-href="cars")

			section.cars#cars
				.container
					.cars__inner
						button.cars__prev
						button.cars__next
						h2.cars__title(data-lang-id="5") Win a porsche
						.cars__models
							img(src="img/carrera_logo.svg", alt="").active
							img(src="img/boxster_logo.svg", alt="")
						p.cars__description(data-lang-id="6") Drive traffic to #[strong all offers] for #[strong all GEOs] and get #[strong 1 Porsche Point per every $ 10 000] available for payout within your account. The more #[strong Porsche Points] you get, the higher your chances of winning are!
						.cars__slider
							div.cars__bg.cars__bg--1.active
							div.cars__bg.cars__bg--2
							.cars__slider-wrap
								.cars__item
									.cars__item-wrap.active
										img(src="img/cars-car-1.png", alt="").cars__car
								.cars__item
									.cars__item-wrap
										img(src="img/cars-car-2.png", alt="").cars__car
						.cars__footer
							a(href="https://my.adcombo.com/dashboard").cars__btn.btn(data-lang-id="7") START THE RACE

			section.prizes#prizes
				.container
					.prizes__inner
						.prizes__content
							h2.prizes__title(data-lang-id="8") Minor prizes
							p.prizes__text(data-lang-id="9") #[span Each contest participant of TOP-50] affiliates #[br] can win 1 additional prize and 1 grand prize! 
							.prizes__list
								button.prizes__list-item.prizes__list-item--1.active 
									span.prizes__list-item-logo
									span(data-lang-id="10") Rolex Submariner
								button.prizes__list-item.prizes__list-item--2 
									span.prizes__list-item-logo
								button.prizes__list-item.disabled(data-lang-id="11") To be announced
						.prizes__slider
							button.prizes__prev
							button.prizes__next
							.prizes__slider-wrap
								.prizes__slider_item
									.prizes__slider_item-wrap
										img(src="img/prize-2.png", alt="").prizes__item
										img(src="img/prize-2-logo.png", alt="").prizes__logo
								.prizes__slider_item
									.prizes__slider_item-wrap
										img(src="img/prize-1.jpg", alt="").prizes__item
										img(src="img/prize-1-logo.png", alt="").prizes__logo

			//- section.accomodation#accomodation
			//- 	.container
			//- 		.accomodation__inner
			//- 			.accomodation__content
			//- 				h2.accomodation__title “hotel name”
			//- 				p.accomodation__text AdCombo undertakes to provide the participants from&nbsp;the&nbsp;#[span TOP-50]&nbsp;with&nbsp;a #[span free accomodation] at the venue of the final&nbsp;party&nbsp;at&nbsp;its&nbsp;expense
			
			section.media#media
				.container
					.media__inner
						h2.media__title(data-lang-id="12") How we partied last&nbsp;time
						.media__section.active(data-media="video")
							.media__item.media__item--video
								.video
									video(data-url="/152/videos/1580252400/porsche-contest-2020-2", poster="img/poster-2.jpg")
									button.video__play
							.media__item.media__item--video
								.video
									video(data-url="/152/videos/1580252400/porsche-contest-2020", poster="img/poster-1.jpg")
									button.video__play
						.media__section(data-media="gallery")
							.media__item
								img(src="img/pic-1.jpg", alt="")
							.media__item
								img(src="img/pic-2.jpg", alt="")
							.media__item
								img(src="img/pic-3.jpg", alt="")
							.media__item
								img(src="img/pic-4.jpg", alt="")
							.media__item
								img(src="img/pic-5.jpg", alt="")
							.media__item
								img(src="img/pic-6.jpg", alt="")
							.media__item
								img(src="img/pic-7.jpg", alt="")
							.media__item
								img(src="img/pic-8.jpg", alt="")
							.media__item
								img(src="img/pic-9.jpg", alt="")
							.media__item
								img(src="img/pic-10.jpg", alt="")
							.media__item
								img(src="img/pic-11.jpg", alt="")
							.media__item
								img(src="img/pic-12.jpg", alt="")
							.media__item
								img(src="img/pic-13.jpg", alt="")
							.media__item
								img(src="img/pic-14.jpg", alt="")
							.media__item
								img(src="img/pic-15.jpg", alt="")
							.media__item
								img(src="img/pic-16.jpg", alt="")
							.media__item
								img(src="img/pic-17.jpg", alt="")
							.media__item
								img(src="img/pic-18.jpg", alt="")
							.media__item
								img(src="img/pic-19.jpg", alt="")
							.media__item
								img(src="img/pic-20.jpg", alt="")
							.media__item
								img(src="img/pic-21.jpg", alt="")
						.media__nav
							button.media__btn.media__btn--left.active(data-media-href="video")(data-lang-id="56").btn Video
							button.media__btn.media__btn--right(data-media-href="gallery")(data-lang-id="57").btn Gallery

			section.faq#rules
				.container
					.faq__inner
						h2.faq__title(data-lang-id="13") Rules #[br]and Conditions
						.faq__content
							ul.faq__list
								li.faq__item
									p.faq__item-caption(data-lang-id="14") Who takes part in the contest?
									.faq__item-text
										p(data-lang-id="15") All the affiliates of the AdCombo affiliate network are the participants. 
								li.faq__item
									p.faq__item-caption(data-lang-id="16") What offers should I manage traffic to?
									.faq__item-text 
										p(data-lang-id="17") You should manage your traffic to all offers of AdCombo, CTR.ru, and Ecombo Junior for all GEOs.
										p(data-lang-id="18") NB: there are special rates for some  offers. For instance, redirect offers have a reduction rate of x0.25. Contact your AM for more information. 
								li.faq__item
									p.faq__item-caption(data-lang-id="19") How does it work? 
									.faq__item-text
										p(data-lang-id="20") A new section in the user interface will appear. You’ll be able to check the current quantity of #[strong Porsche Points] you gained and your actual position in the Top-ranking table #[i (Top-10, Top-20 , Top-30, Top-40, Top-50 or under Top-50)]. 
										p(data-lang-id="21") The more #[strong Porsche Points] you get, the higher your position is.
								li.faq__item
									p.faq__item-caption(data-lang-id="22") What are the “Porsche Points” and how can I get them? 
									.faq__item-text
										p(data-lang-id="23") #[strong Porsche Points] are the contest currency. You get #[strong 1 Porsche Point] per each #[strong 10 000 USD] earned and available for withdrawal in your affiliate account. There are special rates for the conversion of funds into Porsche Points for some types of offers: #[strong (funds earned) x (offer rate)].
										p(data-lang-id="24") #[strong Example]: an affiliate has run traffic in the period from #[strong Feb 1, 2020, to Sep 1, 2020], inclusive and earned #[strong 350 000 USD] available for withdrawal. Hence, he got #[strong 35 Porsche Points].
										p(data-lang-id="25") #[strong ATTENTION]: An affiliate cannot get any #[strong Porsche Points] for unapproved or rejected leads as well as for the held funds.
								
							ul.faq__list
								//- li.faq__item
								//- 	p.faq__item-caption(data-lang-id="45") What changes will the AdCombo Loyalty Program face?
								//- 	.faq__item-text
								//- 		p(data-lang-id="46") The sum gained with the Loyalty Program will be on hold and not be available for withdrawal, but it will be displayed on the affiliate's dashboard and in the chart. 
								//- 		p(data-lang-id="47") The maximum percentage of the affiliate's income from the AdCombo Loyalty Program cannot be higher than 4%. 
								li.faq__item
									p.faq__item-caption(data-lang-id="26") Who can participate in the prize drawing?
									.faq__item-text
										p(data-lang-id="27") The affiliates entered TOP-50 by the end of the contest are eligible to take part in the prize draw at the party. 
										P(data-lang-id="28") NB: #[u Only those who are present at the final party can have a right to be full participants in the prize drawing]. 
										p(data-lang-id="29") The date and time of the party will be announced later. Don't miss the updates!
										p(data-lang-id="30") #[strong ATTENTION]: AdCombo undertakes to provide the participants from the Top-50 with free accommodation at the venue of the final party at its expense. All travel expenses are paid by the participants themselves.
								li.faq__item
									p.faq__item-caption(data-lang-id="31") How many prizes can a prize draw participant win? 
									.faq__item-text
										p(data-lang-id="32") Each participant of the prize drawing is able to win 1 additional prize and 1 grand prize (one of the two Porsche sports cars). 
								li.faq__item
									p.faq__item-caption(data-lang-id="33") What is the procedure of choosing a winner?
									.faq__item-text
										p(data-lang-id="34") The winner is chosen by a draw.
										p(data-lang-id="35") Each of the prize draw participants receives chips with its nickname registered in the AdCombo network. #[strong A quantity of chips of a participant is equal to the number of gained Porsche Points.]
										p(data-lang-id="36") The chips of all the prize draw participants are put into a lottery drum. The drawing for the additional prizes is conducted first. Then the drawing of the grand prizes starts.

						.faq__other
							p(data-lang-id="37") Follow our news and updates and send a ticket request to your personal manager or contact AdCombo Support if you have a question to ask. 
							p(data-lang-id="38") The AdCombo affiliate network reserves the right to impose restrictions toward incoming traffic or suspend it temporarily due to the technical need of the traffic processing system. Moreover, AdCombo is able to set caps on offers or place a limit on the number of leads.

			footer.footer#footer
				.container
					.footer__inner
						a(href="https://my.adcombo.com/dashboard").footer__btn.btn(data-lang-id="39") JOIN THE RACE
							
			aside.sections.show.expanded
				.container
					.sections__inner
						button.sections__btn.hide
							span Additional prizes
						.sections__list
							button.sections__item(data-href="top")(data-lang-id="40") Top
							button.sections__item(data-href="cars")(data-lang-id="41") Major prizes
							button.sections__item(data-href="prizes")(data-lang-id="42") Minor prizes
							button.sections__item(data-href="media")(data-lang-id="43") Media
							button.sections__item(data-href="rules")(data-lang-id="44") Rules

		script(type='text/javascript').
			adroll_adv_id = "UXGB2QLMHBFBJLLKI3SCDJ"; adroll_pix_id = "EHABHXTFZ5ES7E3W4RZWGV";
			(function () {
			var _onload = function () {
			if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return }
			if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return }
			var scr = document.createElement("script");
			var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
			scr.setAttribute('async', 'true');
			scr.type = "text/javascript";
			scr.src = host + "/j/roundtrip.js";
			((document.getElementsByTagName('head') || [null])[0] ||
			document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
			};
			if (window.addEventListener) { window.addEventListener('load', _onload, false); }
			else { window.attachEvent('onload', _onload) }
			}());
		script(type='text/javascript').
			!function () { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?160", t.onload = function () { VK.Retargeting.Init("VK-RTRG-332695-9fhUq"), VK.Retargeting.Hit() }, document.head.appendChild(t) }();
		noscript
			img(src='https://vk.com/rtrg?p=VK-RTRG-332695-9fhUq' style='position:fixed; left:-999px;' alt='')
		// Facebook Pixel Code
		script.
			!function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '546442275871577'); fbq('track', 'PageView');
		noscript
			img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=546442275871577&ev=PageView&noscript=1')
		// End Facebook Pixel Code


		script(src="js/slick.min.js")
		script(src="js/data.js")
		script(src="js/common.js")
