doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap")
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/slick.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.page
			header.header
				.container
					.header__inner
						.header__logo
							img(src="img/logo.png", alt="")
						.header__menu
							nav.nav
								ul.nav__list
									li.nav__item
										a.nav__link(href="https://adcombo.com/offers/") Offer list
									li.nav__item
										a.nav__link(href="https://adcombo.com/publisher/") Publisher
									li.nav__item
										a.nav__link(href="https://adcombo.com/advertiser/") Advertiser
									li.nav__item
										a.nav__link(href="https://blog.adcombo.com/") Blog
									li.nav__item
										a.nav__link(href="https://adcombo.com/contact/") Contact
									li.nav__item
										a.nav__link(href="https://adcombo.com/faq/") FAQ
									li.nav__item
										a.nav__link(href="https://adcombo.com/signup/").active Sign Up
									li.nav__item
										a.nav__link(href="https://my.adcombo.com/login").active Log In
			
			section.top#top
				.container
					.top__inner
						.top__cartrack.top__cartrack--1
							img.top__car(src="img/car-1.png", alt="")
							img.top__model(src="img/boxster_logo.svg", alt="")
						h1.top__title new challenge
							strong posh’n’porsche
						.top__cartrack.top__cartrack--2
							img.top__model(src="img/carrera_logo.svg", alt="")
							img.top__car(src="img/car-2.png", alt="")
						.top__date.date
							span.date__from Start 01.02.20
							span.date__sep
							span.date__to Finish 01.09.20

			button.scroll(data-href="accomodation")

			section.accomodation#accomodation
				.container
					.accomodation__inner
						.accomodation__content
							h2.accomodation__title “hotel name”
							p.accomodation__text AdCombo undertakes to provide the participants from&nbsp;the&nbsp;#[span TOP-50]&nbsp;with&nbsp;a #[span free accomodation] at the venue of the final&nbsp;party&nbsp;at&nbsp;its&nbsp;expense
			
			section.media#media
				.container
					.media__inner
						.media__videos
							button.media__play
							button.media__prev
							.media__list
								.media__item
									video(data-url="/57/videos/1580079600/rechiol-woman", poster="img/bg-2.jpg").video
								.media__item
									video(data-url="/57/videos/1580079600/rechiol-woman", poster="img/bg-5.png").video
							button.media__next
						h2.media__title How we partied last time

			section.faq#faq
				.container
					.faq__inner
						h2.faq__title Terms #[br]of participation
						ul.faq__list
							li.faq__item
								p.faq__item-caption Who can enter the contest?
								p.faq__item-text Uniquely brand scalable value whereas high-quality niches. Authoritatively leverage existing granular users for plug-and-play ideas. 
						ul.faq__list
							li.faq__item
								p.faq__item-caption Who can enter the contest?
								p.faq__item-text Uniquely brand scalable value whereas high-quality niches. Authoritatively leverage existing granular users for plug-and-play ideas. 

			aside.sections
				.container
					.sections__inner
						.sections__list(data-active="")
							button.sections__item(data-href="top") Top
							button.sections__item(data-href="porsche") Porsche
							button.sections__item(data-href="prizes") Prizes
							button.sections__item(data-href="accomodation") Accomodation
							button.sections__item(data-href="media") Media
							button.sections__item(data-href="faq") FAQ

		script(src="js/slick.min.js")
		script(src="js/common.js")
