doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.page
			header.header
				.container
					.header__inner
						.header__logo
							img(src="img/logo.png", alt="")
						.header__menu
							nav.nav
								ul.nav__list
									li.nav__item
										a.nav__link(href="https://adcombo.com/offers/") Offer list
									li.nav__item
										a.nav__link(href="https://adcombo.com/publisher/") Publisher
									li.nav__item
										a.nav__link(href="https://adcombo.com/advertiser/") Advertiser
									li.nav__item
										a.nav__link(href="https://blog.adcombo.com/") Blog
									li.nav__item
										a.nav__link(href="https://adcombo.com/contact/") Contact
									li.nav__item
										a.nav__link(href="https://adcombo.com/faq/") FAQ
									li.nav__item
										a.nav__link(href="https://adcombo.com/signup/").active Sign Up
									li.nav__item
										a.nav__link(href="https://my.adcombo.com/login").active Log In
			
			section.top
				.container
					.top__inner
						.top__cartrack.top__cartrack--1
							img.top__car(src="img/car-1.png", alt="")
							img.top__model(src="img/boxster_logo.svg", alt="")
						h1.top__title new challenge
							strong posh’n’porsche
						.top__cartrack.top__cartrack--2
							img.top__model(src="img/carrera_logo.svg", alt="")
							img.top__car(src="img/car-2.png", alt="")
						.top__date.date
							span.date__from Start 01.02.20
							span.date__sep
							span.date__to Finish 01.09.20












		script(src="js/common.js")
